<div id="header" class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-6">
                <a href="#" class="brand-logo">
                    <img src="/assets/images/loop-logo.svg" alt="loop logo">
                </a>
            </div>
            <div class="col-6 col-md-6">
                <ul class="header-items">
                    <li>
                        <div class="user-profile">
                            <div class="user-profile-img"></div>
                            <div class="user-profile-details">
                                <div class="user-name">Smith</div>
                                <div class="user-role">Admin</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="notifications">
                            <div class="notifications-icon">
                                <img src="/assets/images/icon-bell-blue.svg" alt="icon-bell-blue"/>
                                <span class="notifications-count">3</span>
                            </div>
                            <div class="notifications-dropdown"></div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="logout">
                            <img src="../../../assets/images/icon-logout-blue.svg" alt="icon-logout-blue"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
