<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th>Details</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>Stageing_version1</td>
                <td>Small</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>QA_version1</td>
                <td>Medium</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dev_version1</td>
                <td>Small</td>
                <td></td>
                <td></td>
            </tr>
          </tbody>
    </table>
</div>