<div id="sidebar" class="sidebar">
    <ul>
      <li>
        <a routerLinkActive="active" class="side-menu">
          <div class="side-menu-icon side-menu-dashboard"></div>
          <div class="side-menu-text">Dashboard</div>
        </a>
      </li>
      <li>
        <a routerLink="/workspace" routerLinkActive="active" class="side-menu">
          <div class="side-menu-icon side-menu-workspace"></div>
          <div class="side-menu-text">Workspace</div>
        </a>
      </li>
      <li>
        <a routerLink="/projects" routerLinkActive="active" class="side-menu">
          <div class="side-menu-icon side-menu-projects"></div>
          <div class="side-menu-text">Projects</div>
        </a>
      </li>
      <li>
        <a routerLink="" class="side-menu">
          <div class="side-menu-icon side-menu-mymodels"></div>
          <div class="side-menu-text">My Models</div>
        </a>
      </li>
      <li>
        <a routerLink="" class="side-menu">
          <div class="side-menu-icon side-menu-pipeline"></div>
          <div class="side-menu-text">Pipeline</div>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="" class="side-menu">
          <div class="side-menu-icon side-menu-marketplace"></div>
          <div class="side-menu-text">Data Marketplace</div>
        </a>
      </li>
      <li>
        <a routerLink="" class="side-menu">
          <div class="side-menu-icon side-menu-settings"></div>
          <div class="side-menu-text">Admin Settings</div>
        </a>
      </li>
    </ul>
</div>